* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DisplayLight';
}

ul {
  list-style-type: none;
}
@font-face {
  font-family: 'DisplayLight';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Semibold'), url('./assets/sf-ui-display-light.woff') format('woff');
}
@font-face {
  font-family: 'DisplayMedium';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Medium'), url('./assets/sf-ui-display-medium.woff') format('woff');
}
@font-face {
  font-family: 'DisplaySemibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Semibold'), url('./assets/sf-ui-display-semibold.woff') format('woff');
}

